.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 60vh;

background-color: black;
background-image: url("/imagenes/logoObsession.jpeg");
background-size: 80%;
background-repeat: no-repeat;
background-position: center;


  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
