/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

/* NAVBAR PRINCIPAL */
.custom-navbar {

  position: relative;
  padding: 1rem 2rem;
  border-bottom: 3px solid #b80f0a;
  box-shadow: 0 2px 10px #b80f0a33;
  height: 210px;
}


/* NOMBRE DE LA BANDA */
.brand-name {
  color: #eaeaea;
  font-size: 2.5rem;
  text-shadow: 0 0 10px #b80f0a66, 0 0 20px #b80f0a33;
  transition: color 0.3s ease;
}

.brand-name:hover {
  color: #b80f0a;
}

/* LISTA DE LINKS */
.nav-list {
  list-style: none;
}

.nav-list li {
  color: #eaeaea;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0 8px #b80f0a33;
}

.nav-list li:hover {
  color: #b80f0a;
  text-shadow: 0 0 20px #ff0000aa;
  transform: scale(1.05);
}
.brand-logo {
  height: 90px;
  width: auto;
  object-fit: contain;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    gap: 1rem;
    background-color: #111;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 1rem 2rem;
    border-left: 3px solid #b80f0a;
    border-top: 1px solid #b80f0a33;
  }

  .brand-name {
    font-size: 2rem;
  }
  
}
